.DS_Store
/文档/*
/media/*
!/media/docs_n/*
!/media/docs_s/*
!/media/preload/*
/media/docs_n/.DS_Store
/media/docs_s/.DS_Store
/media/preload/.DS_Store
/AcademicEthicsTest/*.pyc
/AcademicEthicsTest/__pycache__/*.pyc
# /AcademicEthicsTest/settings.py
/SUser/.DS_Store
/SUser/migrations/*
/SUser/__pycache__/*.pyc
/SUser/*.pyc
/Survey/.DS_Store
/Survey/migrations/*
/Survey/__pycache__/*.pyc
/Survey/*.pyc
/static/.DS_Store
/static/js/.DS_Store
/static/template/.DS_Store

