{% load static %}
<head>
	<title> 规范文件 </title>
</head>

<body>
<div class="row">
	<div class="col-md-offset-3 col-md-6 ">
		<div style="text-align: center;">
            <h1>规范文件</h1>
        </div>
		<div class="btn-group" name="my-btn-group" style="width: 100%">
        <button type="button" class="btn  btn-sm"  onclick="window.location.href='/index'" style="float: right;background-color: #BB8FCE; color: white;"> 返回首页 </button>
        </div>
		<hr style="height: 1px; border: none; background-color: #BB8FCE">


{% for file in files %}
<a href='/media/{{ file }}'>{{ file }}</a><br/>
{% endfor %}
<a href='http://www.xuetangx.com/courses/course-v1:BNU+2017053101X+2019_T1/about'>北师大印波老师《科研伦理与学术规范》</a><br/>
<a href='http://www.xuetangx.com/courses/course-v1:TsinghuaX+10690012+2019_T1/about'>清华《学术之道》</a><br/>
<a href='http://www.xuetangx.com/courses/course-v1:TsinghuaX+Thu02016001+2016_T1/about'>清华《研究生学术与职业素养讲座》</a><br/>
	</div>
</div>
<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
<link href="{% static "kindeditor/themes/default/default.css" %}" rel="stylesheet">
<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'> </script>
<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
<script src='{% static 'js/jquery-ui.min.js' %}'> </script> 
<script src='{% static 'js/csrf.js' %}'> </script>

</body>