{% load static %}
<head>
	<title> 学术道德规范自学 </title>
</head>

<body>
<div class="row">
	<div class="col-md-offset-3 col-md-6 ">
		<div style="text-align: center;">
            <h1>学术道德规范自学</h1>
        </div>
		<div class="btn-group" name="my-btn-group" style="width: 100%">
        <button type="button" class="btn  btn-sm"  onclick="window.location.href='/index'" style="float: right;background-color: #BB8FCE; color: white;"> 返回首页 </button>
        </div>
		<hr style="height: 1px; border: none; background-color: #BB8FCE">


<h3>国家文件</h3>
{% for doc in docs_n %}
<a href='/media/docs_n/{{ doc }}'>{{ doc }}</a><br/>
{% endfor %}

<hr style="height: 1px; border: none; background-color: #BB8FCE">
<h3>校内文件</h3>
{% for doc in docs_s %}
<a href='/media/docs_s/{{ doc }}'>{{ doc }}</a><br/>
{% endfor %}

<hr style="height: 1px; border: none; background-color: #BB8FCE">
<h3>视频</h3>
<a href='http://www.xuetangx.com/courses/course-v1:BNU+2017053101X+2019_T1/about'>北师大印波老师《科研伦理与学术规范》</a><br/>
<a href='http://www.xuetangx.com/courses/course-v1:TsinghuaX+10690012+2019_T1/about'>清华《学术之道》</a><br/>
<a href='http://www.xuetangx.com/courses/course-v1:TsinghuaX+Thu02016001+2016_T1/about'>清华《研究生学术与职业素养讲座》</a>
<br/>


<!---<hr style="height: 1px; border: none; background-color: #BB8FCE">
<h3>题库模拟自测</h3>
<a href='/media/preload/学术道德规范测试题（2019）.pdf'>学术道德规范测试题（2019）</a>
<br/>-->

<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
<link href="{% static "kindeditor/themes/default/default.css" %}" rel="stylesheet">
<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'> </script>
<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
<script src='{% static 'js/jquery-ui.min.js' %}'> </script> 
<script src='{% static 'js/csrf.js' %}'> </script>

</body>