<!DOCTYPE html>
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 问卷页面 </title>
    
</head>

<body>

<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
<link href="{% static "kindeditor/themes/default/default.css" %}" rel="stylesheet">
<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'> </script>
<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
<script src='{% static 'js/jquery-ui.min.js' %}'> </script> 
<script src='{% static 'js/survey_fill.js' %}'> </script>
<script src='{% static 'js/csrf.js' %}'> </script>
<script src="{% static "kindeditor/kindeditor-all.js" %}"></script>
<script src="{% static "kindeditor/lang/zh-CN.js" %}"></script>

</body>
</html>