<!DOCTYPE html>
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 学术道德规范自测结果 </title>
    
</head>
<style type="text/css">
.box-shadow {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
</style>

<body>

{% if not_exist %}
<h3>无此用户问卷</h3>
{% else %}
<div >
    <div class="panel" >
        <div class="panel-body">
            <div style = "background-image:url('{% static 'img/fillback.jpg' %}'); background-size: 100% 100%;">
                <div class="input-group" style="margin-left: 10%; margin-bottom: 5%">
                    <h1 style="margin-top: 15%">学术道德规范自测结果</h1>
                </div>
                <div class="btn-group" name="my-btn-group" style="width: 100%; margin-bottom: 5%">
                <button type="button" class="btn btn-lg box-shadow" onclick="window.location.href='/index'" style="float: right; color: #6F049C; background: white; border-radius: 50px 50px 50px 50px; width: 150px;margin-left: 5px; margin-right: 5px;"> 返回首页 </button>
                <button type="button" class="btn btn-lg box-shadow"  onclick="retest()" style="float: right;color: #6F049C; background: white; border-radius: 50px 50px 50px 50px; width: 150px; margin-left: 5px"> 重新自测 </button>
                <button type="button" class="btn btn-lg box-shadow" style="float: right; color: #6F049C; background: white; border-radius: 50px 50px 50px 50px; width: 150px;" onclick="print_promise()" style="text-decoration:none; " >打印承诺书</button>
                </div>
            </div>
            
            <h4>你的得分：<span id="score"></span></h4><br/>
            <div style="text-align:left;width: 100%" >
                <table id="questions"  style="table-layout:fixed;word-break:break-all;border: 0px;width: 100%" >
                <tbody>

                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}

<span id="username" hidden>{{ suser.username }}</span>

<link href='{% static 'bootstrap/css/bootstrap.min.css' %}' rel="stylesheet">
<link href="{% static "kindeditor/themes/default/default.css" %}" rel="stylesheet">
<script src='{% static 'js/jquery-3.1.1.min.js' %}'> </script>
<script src='{% static 'js/jquery-ui.min.js' %}'> </script> 
<script src='{% static 'bootstrap/js/bootstrap.min.js' %}'> </script>
<script src='{% static 'js/survey_base.js' %}'> </script>
<script src='{% static 'js/survey_report.js' %}'> </script>
<script src='{% static 'js/csrf.js' %}'> </script>
<script src="{% static "kindeditor/kindeditor-all.js" %}"></script>
<script src="{% static "kindeditor/lang/zh-CN.js" %}"></script>

</body>
</html>